<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <meta name="csrf-token" content="JV5xz7JDxRbeiMLz4clbYiEiCakFd73CeIlHNt1v">
    
    <title>01 | 课程介绍 - LearnKu 编码学习区</title>
    <meta name="Description" content="终身学习者的编程学习区">
    <meta name="Keywords" content="学习区,学习去,编码知识区,博客,开发者博客">
    <meta name="author" content="GucciLee" />

      <!-- Styles -->
    <link href="css/learnku_7.css" rel="stylesheet">
    <link rel="stylesheet" href="css/prism_7.css">
    
    <script type="text/javascript">
        window.Config = {
            'token': "JV5xz7JDxRbeiMLz4clbYiEiCakFd73CeIlHNt1v",
            'isApi': false,
            'url': "https://www.learnku.net",
            'routes': {
                'images_domain': "http://images.learnku.net",
                'cdns_domain': "http://cdns.learnku.net",
                'upload_image': "http://www.learnku.net/api/images",
                'api_search': "http://www.learnku.net/api/search",
                'search': "http://www.learnku.net/search",
            }
        };
    </script>
</head>
<body class="pushable course-articles-show-page">
    
        
    <div class="ui basic primary  launch right attached fixed button" id="right-menu-btn">
        <i class="content icon"></i>
        <span class="text">Menu</span>
    </div>
    <div class="ui vertical sidebar menu left book-side-menu" style="z-index: 99999;">
        <div class="item lh-2">
            <b>《Vue开发实战》</b>
        </div>
                    <div class="item">
                <div class="header">
                    第一章 基础篇
                </div>

                <div class="menu article">
                                            <a class="item active"
                           href="http://www.learnku.net/course/1/articles/1">
                            01 | 课程介绍
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/2">
                            02 | 内容综述
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/3">
                            03 | 第一个Vue程序
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/4">
                            04 | 初识单文件组件
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/30">
                            05 | 搭建 vue 练习环境
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/31">
                            06 | Vue组件的核心概念(1)：属性
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/32">
                            07 | Vue组件的核心概念(2)：事件
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/33">
                            08 | Vue组件的核心概念(3)：插槽
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/40">
                            09 | 双向绑定和单向数据流不冲突
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/41">
                            10 | 理解虚拟DOM及key属性的作用
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/44">
                            11 | 如何触发组件的更新
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/53">
                            12 | 合理应用计算属性和侦听器
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/54">
                            13 | 生命周期的应用场景和函数式组件
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/56">
                            14 | 指令的本质是什么
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/57">
                            15 | 常用高级特性provide/inject
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/58">
                            16 | 如何优雅地获取跨层级组件实例（拒绝递归）
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/59">
                            17 | template和JSX的对比以及它们的本质
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/60">
                            18 | 习题解答(1)
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/61">
                            19 | 习题解答(2)
                        </a>
                                    </div>
            </div>
                    <div class="item">
                <div class="header">
                    第二章 生态篇
                </div>

                <div class="menu article">
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/62">
                            20 | 为什么需要Vuex
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/63">
                            21 | 如何在Vue中使用Vuex
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/64">
                            22 | Vuex核心概念及底层原理
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/65">
                            23 | Vuex最佳实践
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/66">
                            24 | Vue Router的使用场景
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/67">
                            25 | 选择何种模式的路由及底层原理
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/68">
                            26 | Nuxt解决了哪些问题？
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/69">
                            27 | Nuxt核心原理是什么？
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/70">
                            28 | UI组件库对比(Element UI、Ant Design Vue、iView)
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/71">
                            29 | 提升开发效率和体验的常用工具（ESLint、Prettier、vue-devtools）
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/72">
                            30 | 单元测试的重要性及其使用
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/73">
                            31 | 习题解答（1）
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/74">
                            32 | 习题解答（2）
                        </a>
                                    </div>
            </div>
                    <div class="item">
                <div class="header">
                    第三章 实战篇
                </div>

                <div class="menu article">
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/75">
                            33 | Ant Design Pro介绍
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/76">
                            34 | 使用Vue CLI 3快速创建项目
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/77">
                            35  如何自定义Webpack和Babel 配置
                        </a>
                                            <a class="item "
                           href="http://www.learnku.net/course/1/articles/78">
                            36  如何设计一个高扩展性的路由
                        </a>
                                    </div>
            </div>
                    <div class="item">
                <div class="header">
                    第四章 福利篇
                </div>

                <div class="menu article">
                                    </div>
            </div>
            </div>

    <div class="pusher">
        <div class="main container" style="min-height: 80vh;">
            
            <nav class="ui main borderless menu top stackable" id="topnav">
    <div class="ui container">
        <a href="/" class="item secondary">
            网站首页
        </a>
        <a href="http://www.learnku.net/blog/articles" class="item secondary">
            博客
        </a>
        <div class="ui simple item dropdown article stackable nav-user-item  secondary">
            教程  <i class="dropdown icon"></i>

            <div class="ui menu stackable">
                <a href="http://www.learnku.net/course/books" class="item">
                    <i class="icon home"></i> 实战教程首页
                </a>
                                                            <a class="item" href="http://www.learnku.net/course/books/1"
                           style="padding-right: 36px!important;">
                            <img class="ui avatar image" src="picture/1_1554300119_v8dvqmdgfr_1.jpg" style="width:20px;height:20px;margin-top: 0;margin-bottom: 0;">
                            《Vue开发实战》
                        </a>
                                                                                <a class="item" href="http://www.learnku.net/course/books/2"
                           style="padding-right: 36px!important;">
                            <img class="ui avatar image" src="picture/1_1554481257_f35shnzjuj_1.jpg" style="width:20px;height:20px;margin-top: 0;margin-bottom: 0;">
                            《PHP使用手册》
                        </a>
                                                                                                                    <a class="item" href="http://www.learnku.net/course/books/4"
                           style="padding-right: 36px!important;">
                            <img class="ui avatar image" src="picture/1_1560523179_ddlseww5jc_1.jpg" style="width:20px;height:20px;margin-top: 0;margin-bottom: 0;">
                            初识Go语言
                        </a>
                                                </div>
        </div>
        <a href="http://www.learnku.net/contact" class="item secondary">
            关于本站
        </a>

        
        <form id="header-search-app" class="ui fluid category search item secondary"
              data-api="http://www.learnku.net/api/search"
              action="http://www.learnku.net/search" method="GET">
            <div class="ui icon input" :class="{ 'loading' : loading }">
                <select class="ui compact selection dropdown header-search-left"
                        v-model="form.search_type"
                        id="header-search-left">
                    <option value="is_all">所有</option>
                    <option selected="selected" value="is_blog">文章</option>
                </select>
                <input class="prompt header-search-right"
                       type="text"
                       placeholder="搜索"
                       autocomplete="off"
                       @input.stop="search($event)" @focus.stop="search($event)"
                       name="q"
                       data-value=""
                       v-model="form.q">
                <i class="search icon"></i>
            </div>
            <div class="results transition"
                 :class="{ visible:  search_blog_results.length && search_has_results }"
                 id="search-results">
                <a class="result" v-for="item in search_blog_results" :href="item.href">
                    <div class="content">
                        <div class="title" v-text="item.title"></div>
                        <div class="description" v-text="item.excerpt"></div>
                    </div>
                </a>
                <a :href="search_all_url" class="action"><i class="icon search"></i>搜全站</a>
            </div>
            <div class="results transition"
                :class="{ visible: search_no_results }">
                <div class="message empty">
                    <div class="header">结果为空</div>
                    <div class="description">搜索结果为空！</div>
                    <a :href="search_all_url" class="action ui button mt-3 fluid">
                        <i class="icon search"></i>
                        搜全站
                    </a>
                </div>
            </div>
        </form>

        
        <div class=" right menu stackable secondary">
                            <div class="item rm-link-color">
                    <a class="mr-4 no-pjax login_required" href="http://www.learnku.net/login"><i class="icon sign in "></i> 登录
                    </a>
                    <a class="no-pjax" href="http://www.learnku.net/register" style="margin-left: 10px;"><i
                            class="icon user add "></i> 注册 </a>
                </div>
                    </div>
    </div>
</nav>

            
            
            
                <div class="ui centered grid container stackable">
        
        <div class="twelve wide column js-computed-height-right">
            <div class="ui segment article-content">
                <div class="extra-padding">
                    <h1>
                        <i class="grey file text outline icon"></i>
                        <span style="line-height: 34px;">01 | 课程介绍</span>
                    </h1>

                    <div class="book-article-meta">
                        <a href="http://www.learnku.net/course/books/1">
                            <i class="icon book"></i> 《Vue开发实战》
                        </a>

                        <span class="divider">/</span>

                        <span class="relative ">
                            <a class="chapter-title user-has-done-btn" data-act="chapter_sidebar_clicked"
                               href="javascript:void(0);">
                                <i class="icon map signs"></i> 第一章 基础篇
                            </a>
                        </span>
                                            </div>

                    <div class="ui divider"></div>

                    
                    <div class="ui readme markdown-body content-body fluidbox-content">
                        
                                                    
                            内容要点
<p>Vue、 React 和 Angular 是当前应用最广的三大前端框架，仅从 GitHub 趋势来看，Vue 更是排在了第一位，目前已经达到了 13 万的 Star。</p>
<p>目前，不管是 BAT 大厂，还是创业公司，Vue 都有广泛的应用，相关技术原理也成为了面试中的必考知识点，对于任何一个前端工程师来说，Vue 都是一门非常值得我们学习的前端框架。</p>
<p>大部分人在学习和使用过程，经常面临以下问题：</p>
<ol><li>概念过多，记不住，真正开发的时候还得一遍又一遍的翻文档；</li>
<li>没能真正理解数据驱动，总是用各种 hack 方法更改视图，为项目挖了一个又一个的坑；</li>
<li>工程化不熟练，面对大象项目中的单页面、多页面、前后端分离、mock 联调、构建、打包、单测、持续集成等等一系列流程，手忙脚乱不得要领。</li>
</ol><p>针对以上痛点，本课程设计了专门的实战环节，学完后，你不仅能掌握 Vue 的技术原理，还能达到独立负责开发 Vue 前端项目的能力。</p>
                                            </div>
                </div>
            </div>

            <div>
                <a class="ui basic button small article-pager-btn pull-left disabled page-prev-btn"
                    data-content="" href="javascript:;">
                    <i class="icon arrow left"></i> 上一篇
                </a>
                <a class="ui basic button small article-pager-btn pull-right popover disabled page-next-btn"
                   data-content=""
                   href="javascript:;">
                    下一篇
                    <i class="icon arrow right"></i>
                </a>
                <div class="clearfix"></div>
            </div>

            
            <div id="replies" name="replies"></div>
<div class="ui threaded comments comment-list">
    <div class="ui divider horizontal grey">
        <i class="icon comments"></i> 讨论数量: <span class="reply-count">1</span>
    </div>

    <div class="comments-feed">
                <div class="comment">
            <div class="avatar">
                <a href="http://www.learnku.net/users/6">
                    <img class="lazy" data-original="http://images.learnku.net/">
                </a>
            </div>
            <div class="content">
                <div class="comment-header">
                    <div class="meta">
                        <a class="author" href="http://www.learnku.net/users/6">
                            木头人
                        </a>
                    </div>
                </div>

                <div class="text comment-body markdown-reply fluidbox-content">
                    <div class="px-3">
                        <p><p>感谢站长</p></p>
                    </div>
                </div>

                <div class="" title="2019-01-19 11:48:18" style="background: #fff;padding: 15px;font-size: 12px;padding-top:0;color: rgba(0, 0, 0, 0.4);">
                    <i class="icon clock"></i> 6个月前
                </div>

                            </div>
        </div>
            </div>
</div>
            <style>
    .CodeMirror, .CodeMirror-scroll {
        min-height: 160px !important;
    }
    .markdown-base{
        margin-bottom: 1em;
    }
</style>


<div class="ui threaded comments comment-list ">
    <br>
    <div class="ui segment extra-padding comment-composing-box pt-3" style="padding:20px;margin-left:60px">
        <div class="reply ui message hide"></div>
        <form class="ui reply form topic-reply-form"
              onsubmit="return false;"
              method="POST"
              action="http://www.learnku.net/api/replies"
              accept-charset="UTF-8"
              id="comment-composing-form">
            <input type="hidden" name="_token" value="JV5xz7JDxRbeiMLz4clbYiEiCakFd73CeIlHNt1v">
            <input type="hidden" name="article_id" value="1">
            <input type="hidden" name="model" value="App\Models\CourseArticle">

            <div class="ui message info">
                <i class="icon info" aria-hidden="true"></i>
                请勿发布不友善或者负能量的内容。与人为善，比聪明更重要！
            </div>

            
            <div class="markdown-base">
                <link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/simplemde.min.css">
<script src="js/simplemde.min.js"></script>
<script src="js/codemirror-4.inline-attachment.min.js"></script>
<script src="js/htmltomarkdown.js"></script>


<script type="text/javascript">
    class Markdown{
        constructor() {
            this.setting = {
                'textarea': {
                    'id': 'markdown-editor',
                },
                'interval': true,
                'markdown': {
                    element: document.getElementById('markdown-editor'),
                    autoDownloadFontAwesome: false,
                    spellChecker: false,
                    /*autosave: {
                        enabled: true,
                        delay: 5000,
                        unique_id: "article_content_"
                    },*/
                    forceSync: true,
                    tabSize: 4,
                    toolbar: [
                        "bold", "italic", "heading", "|", "quote", "code", "table",
                        "horizontal-rule", "unordered-list", "ordered-list", "|",
                        "link", "image", "|", "side-by-side", 'fullscreen', "|",
                        {
                            // 自定义[ 发布话题 ]
                            name: "publish",
                            action: function customFunction(editor) {
                                $(editor.element).closest('form').eq(0).submit();
                            },
                            className: "fa fa-paper-plane",
                            title: "发布文章",
                        },
                        {
                            // 自定义[ 清楚缓存 ]
                            name: "publish",
                            action: function customFunction(editor) {
                                localStorage.clear();
                                localStorage.clear();
                                localStorage.clear();
                                localStorage.clear();
                                localStorage.clear();
                                localStorage.clear();
                                alert('清理完成');
                            },
                            className: "fa fa-trash",
                            title: "清除本地缓存",
                        },
                        {
                            // 自定义标签
                            name: "guide",
                            action: function customFunction(editor) {
                                var win = window.open('https://github.com/riku/Markdown-Syntax-CN/blob/master/syntax.md', '_blank');
                                if (win) {
                                    //Browser has allowed it to be opened
                                    win.focus();
                                } else {
                                    //Browser has blocked it
                                    alert('Please allow popups for this website');
                                }
                            },
                            className: "fa fa-info-circle f_r",
                            title: "Markdown 语法！",
                        }
                    ],
                },
                'uploadFieldName': 'image',
                'jsonFieldName': 'path',
                'uploadUrl': Config.routes.upload_image,
                'events': {
                    change: function () {},
                }
            }

            /**
             * markdown 还原初始化
             * window['markdown_markdown-editor'].value('')
             */
        }

        init(opt){
            this.create($.extend(true, this.setting, opt));
        }

        create(setting){
            var self = this;
            if (document.getElementById(setting.textarea.id)) {
                $(document).ready(function () {
                    self.initSimpleMDE(setting);
                });
            } else {
                console.error('必须先创建好 textarea DOM节点后才可以调用 `init` 方法')
            }
        }

        initSimpleMDE(setting){
            var self = this;
            var turndownService = new TurndownService();
            setting.markdown.element = document.getElementById(setting.textarea.id);
            var simplemde = window['markdown_' + setting.textarea.id] = new SimpleMDE(setting.markdown);

            if(setting.interval){
                var interval = setInterval(function () {
                    if (simplemde.isFullscreenActive()) {
                        $('.duke-pulse.editor-fullscreen').hide();
                        $(window).trigger('resize');
                        clearInterval(interval);
                    }
                }, 1000);
            }

            simplemde.codemirror.on("refresh", function () {
                $(window).trigger('resize');
            });
            simplemde.codemirror.on("paste", function () {
                $(window).trigger('resize');
            });
            // 此处转多次是为了防止用户恶意输入
            simplemde.codemirror.on("change", function(){
                // markdown to html
                var html = simplemde.markdown(simplemde.value());
                // html to markdown
                var markdown = turndownService.turndown(html);
                // markdown to html
                html = simplemde.markdown(markdown);
                setting.events.change(html);
            });

            // 图片上传
            inlineAttachment.editors.codemirror4.attach(simplemde.codemirror, {
                uploadUrl: setting.uploadUrl,
                uploadFieldName: setting.uploadFieldName ? setting.uploadFieldName : 'file',
                jsonFieldName: setting.jsonFieldName ? setting.jsonFieldName : 'filename',
                extraParams: {
                    '_token': Config.token,
                    'image_type': 'article',
                },
                extraHeaders: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-XSRF-TOKEN': Config.token,
                    'Authorization': Config.isApi ? document.head.querySelector('meta[name="jwt-token"]').content : ''
                },
                onFileUploadResponse: function(xhr) {
                    var result = JSON.parse(xhr.responseText),
                        filename = result[this.settings.jsonFieldName];

                    if (result && filename) {
                        // 拼接 cdns
                        filename = Config.routes.images_domain + filename;
                        var newValue;
                        if (typeof this.settings.urlText === 'function') {
                            newValue = this.settings.urlText.call(this, filename, result);
                        } else {
                            newValue = this.settings.urlText.replace(this.filenameTag, filename);
                        }
                        var text = this.editor.getValue().replace(this.lastValue, newValue);
                        this.editor.setValue(text);
                        this.settings.onFileUploaded.call(this, filename);
                    }
                    return false;
                }
            });
        }
    }
</script>
                <textarea
                    id="markdown-editor"
                    name="content"
                    placeholder="分享你的见解~"
                    rows="3"></textarea>
            </div>

            
            <div class="field rm-link-color">
                <div class="pull-left meta">
                    <a href="javascript:;" class="mr-2 ui popover text-mute" data-html="黏贴或拖拽图片至输入<br>框内皆可上传图片">
                        <i class="icon picture"></i>
                    </a>
                    <a href="javascript:;" class="mr-2 ui popover text-mute" data-html="支持除了 H1~H6 以外的<br>GitHub 兼容 Markdown">
                        支持 MD
                    </a>
                </div>

                <div class="pull-right">
                    <button class="ui primary labeled icon button  no-loading"
                            type="submit" id="comment-composing-submit">
                        <i class="icon comment"></i> 评论
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>

        <div class="clearfix"></div>
        
        <div class="box preview markdown-reply fluidbox-content" id="preview-box" style="display: none;border: dashed 1px #ccc;background: #ffffff;border-radius: 6px;box-shadow:none;margin-top: 20px;margin-bottom: 6px;"></div>
    </div>
</div>
        </div>

        
        <div class="four wide column js-computed-height-left">
            <div class="item header sidebar book-article">
                <div class="ui segment orange text-center">
                    刻意练习，每日精进。
                </div>

                <div class="ui segment">
                    <div class="two ui basic buttons small">
                        <a class="ui labeled icon basic article-pager-btn button left attached disabled page-prev-btn"
                           data-content="" href="javascript:;">
                            <i class="left arrow icon"></i>
                            上一篇
                        </a>
                        <a class="ui right labeled article-pager-btn icon basic button right attached popover disabled page-next-btn"
                           data-content=""
                           href="javascript:;">
                            <i class="right arrow icon"></i>
                            下一篇
                        </a>
                    </div>
                </div>

                <div class="ui segment">

                    <div class="ui three statistics">
                        <div class="ui huge statistic">
                            <div class="value">~</div>
                            <div class="label">点赞</div>
                        </div>
                        <div class="ui huge statistic">
                            <div class="value">438</div>
                            <div class="label">浏览</div>
                        </div>
                        <a class="ui huge statistic" href="#topics-list">
                            <div class="value">1</div>
                            <div class="label">讨论</div>
                        </a>
                    </div>


                    <br>
                </div>
                <div class="ui stackable cards">
                    <div class="ui  card column author-box grid authors-box responsive" style="margin-top: 20px;">

                        <div class="ui fluid hide-on-mobile" style="margin-top: 20px;">
                            <div class="ui teal ribbon label">
                                <i class="star icon"></i> 作者
                            </div>
                        </div>

                        <a href="javascript:;" class="avatar-link authors first">
                            <img class="ui centered circular tiny image"
                                 src="picture/1_1554279691_ywcdyik4lq.png"><span
                                class="author-name">Ben</span>
                        </a>
                    </div>
                </div>

                
                <div class="ui sticky doc toc">
                    <div class="ui card column author-box grid  tocify" id="markdown-tocify"
                         style="max-height: 100%;padding: 22px 4px;"></div>
                </div>
            </div>
        </div>
    </div>
        </div>

        
        <footer class="ui inverted vertical footer segment" style="max-height: 220px;">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="four wide column">
        <h4 class="ui inverted header">关于 LearnKu</h4>
        <div class="ui inverted link list lh-3">
          LearnKu 是专为终身学习者定制的编程知识的网站。
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">资源推荐</h4>
        <div class="ui inverted link list text-mute">
          暂无内容~~
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">友情链接</h4>
        <div class="ui inverted link list">
          <a href="https://learnku.com" target="_blank">Laravel中文社区</a>
        </div>
        <div class="ui inverted link list">
          <a href="http://www.nginx.cn/doc/index.html" target="_blank">Nginx 中文手册</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">其他信息</h4>
        <div class="ui inverted link list">
          <li><a class="item" href="http://www.learnku.net/contact"><i class="icon wechat" aria-hidden="true"></i> 联系站长</a></li>
          <li><a class="item" href="mailto:'GucciLee@163.com'"><i class="icon envelope" aria-hidden="true"></i> 联系我们</a></li>
        </div>
      </div>

    </div>

    <div class="ui inverted section divider"></div>
    <div>

      <p style="font-size:0.9em; margin-top:20px;margin-bottom: -8px;color: rgb(137, 137, 140);" class="ui inverted signature">
        由 <a href="" target="_blank" style="color: inherit;">GucciLee</a> 编码 <span style="color: #e27575;font-size: 14px;">❤</span>
      </p>
    </div>
  </div>
</footer>
    </div>

    
    <a class="circular ui icon button fixed feedback popover"
       target="_blank"
       data-content="点击加入 Q 群： 831174706"
       data-variation="inverted"
       data-position="left center"
       href="//shang.qq.com/wpa/qunwpa?idkey=0b42857f3c9527bca4212a059168178044a892271938b75c99d779fcfd8b7968">
        <i class="icon talk outline"></i>
    </a>

    
    <!-- Scripts -->
    <script type="text/javascript" src="js/learnku_1.js"></script>
        
    <script type="text/javascript">
        let allHref = [];
        $('.book-side-menu').find('a').each(function () {
            allHref.push({
                'href': $(this).attr('href'),
                'title': $.trim($(this).text()),
                'active': $(this).hasClass('active') ? true : false
            });
        });
        let activeIndex = allHref.findIndex(function(item){
            return item.active;
        });
        // 上一页
        let prev = allHref[activeIndex - 1];
        // 下一页
        let next = allHref[activeIndex + 1];

        if(prev){
            $('.page-prev-btn').attr('href', prev.href);
            $('.page-prev-btn').attr('data-content', prev.title);
            $('.page-prev-btn').removeClass('disabled');
        }
        if(next){
            $('.page-next-btn').attr('href', next.href);
            $('.page-next-btn').attr('data-content', next.title);
            $('.page-next-btn').removeClass('disabled');
        }
    </script>

    <script type="text/javascript">
        // 发表回复
        var markdown = new Markdown();
        markdown.init({
            'textarea': {
                'id': 'markdown-editor'
            },
            'interval': false,
            'markdown': {
                status: false,
                toolbar: false,
            },
            'events': {
                change: function (html) {
                    if ($.trim(html) !== '') {
                        $("#preview-box").html(html).fadeIn();
                    } else {
                        $("#preview-box").fadeOut();
                    }
                }
            }
        });
    </script>
    <script type="text/javascript">
        // 删除评论
        LearnkuNew.axiosDeleteForm(function (btn) {
            $(btn).closest('.comment').remove();
        })
    </script>
    <script type="text/javascript">
        var auth = Boolean("");
        // 发表评论
        $("#comment-composing-form").submit(function () {
            if (auth) {
                axios({
                    method: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                }).then((res)=> {
                    Swal.fire({
                        type: 'success',
                        title: '评论发表成功 . . .',
                        text: '请耐心等待管理员审核',
                    });
                    // 重置 markdown
                    window['markdown_markdown-editor'].value('');
                }).catch(function (error) {
                    window.public.axios_catch(error);
                });
            } else {
                window.location.href = "http://www.learnku.net/login";
            }
        });
    </script>

    
        
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1ec6a674ead84d248649ad718fcb2c4d";
            hm.async = true;
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    
    <div style="display: none;">
        <script async type="text/javascript" src="js/z_stat_1.php"></script>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="js/7e29575c55c7484ca27cd127ed515e4e.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-137692440-1');
    </script>
    	<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 158672);
</script>
</body>
</html>
