<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <meta name="csrf-token" content="UnYJllLrLm7EW7aHeW6QLpjgL81SWycXbJy3UzAB">
    
    <title>实战教程 - LearnKu 编码学习区</title>
    <meta name="Description" content="终身学习者的编程学习区">
    <meta name="Keywords" content="学习区,学习去,编码知识区,博客,开发者博客">
    <meta name="author" content="GucciLee" />

      <!-- Styles -->
    <link href="css/learnku_5.css" rel="stylesheet">
    <link rel="stylesheet" href="css/prism_5.css">
    
    <script type="text/javascript">
        window.Config = {
            'token': "UnYJllLrLm7EW7aHeW6QLpjgL81SWycXbJy3UzAB",
            'isApi': false,
            'url': "https://www.learnku.net",
            'routes': {
                'images_domain': "http://images.learnku.net",
                'cdns_domain': "http://cdns.learnku.net",
                'upload_image': "http://www.learnku.net/api/images",
                'api_search': "http://www.learnku.net/api/search",
                'search': "http://www.learnku.net/search",
            }
        };
    </script>
</head>
<body class="pushable course-books-index-page">
    
    
    <div class="pusher">
        <div class="main container" style="min-height: 80vh;">
            
            <nav class="ui main borderless menu top stackable" id="topnav">
    <div class="ui container">
        <a href="/" class="item secondary">
            网站首页
        </a>
        <a href="http://www.learnku.net/blog/articles" class="item secondary">
            博客
        </a>
        <div class="ui simple item dropdown article stackable nav-user-item  secondary">
            教程  <i class="dropdown icon"></i>

            <div class="ui menu stackable">
                <a href="http://www.learnku.net/course/books" class="item">
                    <i class="icon home"></i> 实战教程首页
                </a>
                                                            <a class="item" href="http://www.learnku.net/course/books/1"
                           style="padding-right: 36px!important;">
                            <img class="ui avatar image" src="picture/1_1554300119_v8dvqmdgfr.jpg" style="width:20px;height:20px;margin-top: 0;margin-bottom: 0;">
                            《Vue开发实战》
                        </a>
                                                                                <a class="item" href="http://www.learnku.net/course/books/2"
                           style="padding-right: 36px!important;">
                            <img class="ui avatar image" src="picture/1_1554481257_f35shnzjuj.jpg" style="width:20px;height:20px;margin-top: 0;margin-bottom: 0;">
                            《PHP使用手册》
                        </a>
                                                                                                                    <a class="item" href="http://www.learnku.net/course/books/4"
                           style="padding-right: 36px!important;">
                            <img class="ui avatar image" src="picture/1_1560523179_ddlseww5jc.jpg" style="width:20px;height:20px;margin-top: 0;margin-bottom: 0;">
                            初识Go语言
                        </a>
                                                </div>
        </div>
        <a href="http://www.learnku.net/contact" class="item secondary">
            关于本站
        </a>

        
        <form id="header-search-app" class="ui fluid category search item secondary"
              data-api="http://www.learnku.net/api/search"
              action="http://www.learnku.net/search" method="GET">
            <div class="ui icon input" :class="{ 'loading' : loading }">
                <select class="ui compact selection dropdown header-search-left"
                        v-model="form.search_type"
                        id="header-search-left">
                    <option value="is_all">所有</option>
                    <option selected="selected" value="is_blog">文章</option>
                </select>
                <input class="prompt header-search-right"
                       type="text"
                       placeholder="搜索"
                       autocomplete="off"
                       @input.stop="search($event)" @focus.stop="search($event)"
                       name="q"
                       data-value=""
                       v-model="form.q">
                <i class="search icon"></i>
            </div>
            <div class="results transition"
                 :class="{ visible:  search_blog_results.length && search_has_results }"
                 id="search-results">
                <a class="result" v-for="item in search_blog_results" :href="item.href">
                    <div class="content">
                        <div class="title" v-text="item.title"></div>
                        <div class="description" v-text="item.excerpt"></div>
                    </div>
                </a>
                <a :href="search_all_url" class="action"><i class="icon search"></i>搜全站</a>
            </div>
            <div class="results transition"
                :class="{ visible: search_no_results }">
                <div class="message empty">
                    <div class="header">结果为空</div>
                    <div class="description">搜索结果为空！</div>
                    <a :href="search_all_url" class="action ui button mt-3 fluid">
                        <i class="icon search"></i>
                        搜全站
                    </a>
                </div>
            </div>
        </form>

        
        <div class=" right menu stackable secondary">
                            <div class="item rm-link-color">
                    <a class="mr-4 no-pjax login_required" href="http://www.learnku.net/login"><i class="icon sign in "></i> 登录
                    </a>
                    <a class="no-pjax" href="http://www.learnku.net/register" style="margin-left: 10px;"><i
                            class="icon user add "></i> 注册 </a>
                </div>
                    </div>
    </div>
</nav>

            
            
            
                <div class="ui centered grid container stackable" style="margin-bottom: 80px;min-height:380px">
        <div class="twelve wide column">
            <div class="ui segment text-center">
                实战系列课程，每个课程对应一个实战项目，助你从小工成就大师
            </div>
            
                                            <div class="ui segment ">
                    <div class="extra content tag-active-user-card">
                        <div class="ui middle aligned divided list " style="padding:12px">
                            <div class="ui items">

                                <div class="item">
                                    <a class="image" href="http://www.learnku.net/course/books/1">

                                        <img class="ui image image-shadow lazy" data-original="picture/1_1554300119_v8dvqmdgfr.jpg"></a>
                                    <div class="content">
                                        <div class="header" style="width:100%">
                                            <a href="http://www.learnku.net/course/books/1" class="ui text black">
                                                《Vue开发实战》
                                            </a>
                                        </div>

                                        <p>这不仅仅是一门教你如何使用  Vue  的课程，而是会手把手带你用 Vue 完成一个大型项目。</p>
<ul><li>第一手实战经验：讲师唐金州，开源项目 Ant Design Vue 作者，该项目已成为蚂蚁金服 Ant Design 官方唯一指定的 Vue 版组件库，他会将自己的实战经验毫无保留地分享给你。</li>
<li>原理 + 习题：Vue + Vue 周边生态核心技术一网打尽，覆盖大型 Vue 项目所要用到的所有核心技术，同时每节课后会搭配习题，帮你牢牢掌握每个知识点。</li>
<li>实战为王：手把手带你基于 Vue 来开发大型项目 Ant Design Pro ，从开发、测试、打包构建到最终的上线，帮你打通前端工程化全链路技能点。</li>
</ul><p>学完这门课程，你不仅能够掌握 Vue 的技术原理及其应用， 也会对其底层原理有所了解，并且通过实战项目，你将具备独立负责 Vue 前端项目的能力。</p>

                                        <div class="extra">
                                            <a class="ui button primary" href="http://www.learnku.net/course/books/1">查看课程</a>

                                                                                    </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                                <div class="ui segment ">
                    <div class="extra content tag-active-user-card">
                        <div class="ui middle aligned divided list " style="padding:12px">
                            <div class="ui items">

                                <div class="item">
                                    <a class="image" href="http://www.learnku.net/course/books/2">

                                        <img class="ui image image-shadow lazy" data-original="picture/1_1554481257_f35shnzjuj.jpg"></a>
                                    <div class="content">
                                        <div class="header" style="width:100%">
                                            <a href="http://www.learnku.net/course/books/2" class="ui text black">
                                                《PHP使用手册》
                                            </a>
                                        </div>

                                        <p>初学 PHP 时总结的学习手册，适用于 PHP 初学者</p>

                                        <div class="extra">
                                            <a class="ui button primary" href="http://www.learnku.net/course/books/2">查看课程</a>

                                                                                    </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                                <div class="ui segment ">
                    <div class="extra content tag-active-user-card">
                        <div class="ui middle aligned divided list " style="padding:12px">
                            <div class="ui items">

                                <div class="item">
                                    <a class="image" href="http://www.learnku.net/course/books/3">

                                        <img class="ui image image-shadow lazy" data-original="http://images.learnku.net/uploads/images/courses/201904/08/1_1554714989_kl0w6xoRAa.jpg"></a>
                                    <div class="content">
                                        <div class="header" style="width:100%">
                                            <a href="http://www.learnku.net/course/books/3" class="ui text black">
                                                《Laravel 5.5》
                                            </a>
                                        </div>

                                        <p>Laravel 5.5 自学教程</p>

                                        <div class="extra">
                                            <a class="ui button primary" href="http://www.learnku.net/course/books/3">查看课程</a>

                                                                                    </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                                <div class="ui segment ">
                    <div class="extra content tag-active-user-card">
                        <div class="ui middle aligned divided list " style="padding:12px">
                            <div class="ui items">

                                <div class="item">
                                    <a class="image" href="http://www.learnku.net/course/books/4">

                                        <img class="ui image image-shadow lazy" data-original="picture/1_1560523179_ddlseww5jc.jpg"></a>
                                    <div class="content">
                                        <div class="header" style="width:100%">
                                            <a href="http://www.learnku.net/course/books/4" class="ui text black">
                                                初识Go语言
                                            </a>
                                        </div>

                                        <p>探索 Go 语言之旅行</p>

                                        <div class="extra">
                                            <a class="ui button primary" href="http://www.learnku.net/course/books/4">查看课程</a>

                                                                                    </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                
                
                    </div>

        <div class="four wide column">
            暂无数据 ~
        </div>
    </div>
        </div>

        
        <footer class="ui inverted vertical footer segment" style="max-height: 220px;">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="four wide column">
        <h4 class="ui inverted header">关于 LearnKu</h4>
        <div class="ui inverted link list lh-3">
          LearnKu 是专为终身学习者定制的编程知识的网站。
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">资源推荐</h4>
        <div class="ui inverted link list text-mute">
          暂无内容~~
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">友情链接</h4>
        <div class="ui inverted link list">
          <a href="https://learnku.com" target="_blank">Laravel中文社区</a>
        </div>
        <div class="ui inverted link list">
          <a href="http://www.nginx.cn/doc/index.html" target="_blank">Nginx 中文手册</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">其他信息</h4>
        <div class="ui inverted link list">
          <li><a class="item" href="http://www.learnku.net/contact"><i class="icon wechat" aria-hidden="true"></i> 联系站长</a></li>
          <li><a class="item" href="mailto:'GucciLee@163.com'"><i class="icon envelope" aria-hidden="true"></i> 联系我们</a></li>
        </div>
      </div>

    </div>

    <div class="ui inverted section divider"></div>
    <div>

      <p style="font-size:0.9em; margin-top:20px;margin-bottom: -8px;color: rgb(137, 137, 140);" class="ui inverted signature">
        由 <a href="" target="_blank" style="color: inherit;">GucciLee</a> 编码 <span style="color: #e27575;font-size: 14px;">❤</span>
      </p>
    </div>
  </div>
</footer>
    </div>

    
    <a class="circular ui icon button fixed feedback popover"
       target="_blank"
       data-content="点击加入 Q 群： 831174706"
       data-variation="inverted"
       data-position="left center"
       href="//shang.qq.com/wpa/qunwpa?idkey=0b42857f3c9527bca4212a059168178044a892271938b75c99d779fcfd8b7968">
        <i class="icon talk outline"></i>
    </a>

    
    <!-- Scripts -->
    <script type="text/javascript" src="js/learnku.js"></script>
    
    
        
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1ec6a674ead84d248649ad718fcb2c4d";
            hm.async = true;
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    
    <div style="display: none;">
        <script async type="text/javascript" src="js/z_stat.php"></script>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="js/57fd536ce7e7491fb0977ad32eb1b917.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-137692440-1');
    </script>
    	<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 158672);
</script>
</body>
</html>
