<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top wrapper no-gutters">
        <h1 class="logo mr-3"><a href="./index.html">Blog</a></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="./index.html">
                        <i class="fa fa-home"></i> 首页
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./blog.html">
                        <i class="fa fa-book"></i> 博客
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./link.html">
                        <i class="fa fa-link"></i> 友情链接
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./aboutUs.html">
                        <i class="fa fa-globe"></i> 关于本站
                    </a>
                </li>
            </ul>
            <div class="dropdown ml-auto">
                <a id="dLabel" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="images/750x300.png" width="50" height="50" alt="头像" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-menu-left" aria-labelledby="dLabel">
                    <a class="disabled dropdown-item"><i class="fa fa-user"></i>&nbsp;<span>用户名用户名</span></a>
                    <div class="dropdown-divider"></div>
                    <a href="./userCenter.html" class="dropdown-item text-primary"><i class="fa fa-cog"></i>&nbsp;<span>用户中心</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger"><i class="fa fa-sign-out"></i>&nbsp;退出登录</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="row d-flex flex-md-row flex-column flex-column-reverse">
        <!-- Blog Entries Column -->
        <div class="col-md-9 col-xl-9">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile">
                    <h4 class="my-4">我的收藏</h4>
                    <!-- Project One -->
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="./images/750x300.png" alt="">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <h4>文章1</h4>
                            <p class="text-muted">文章描述</p>
                            <a class="btn btn-outline-primary btn-sm" href="#">查看文章</a>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- Project Two -->
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="./images/750x300.png" alt="">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <h4>文章1</h4>
                            <p class="text-muted">文章描述</p>
                            <a class="btn btn-outline-primary btn-sm" href="#">查看文章</a>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- Pagination -->
                    <nav>
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div role="tabpanel" class="tab-pane" id="comment">
                    <h4 class="my-4">我的评论</h4>
                    <!-- Project One -->
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="./images/750x300.png" alt="">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <h4>文章1</h4>
                            <p class="text-muted">文章描述</p>
                            <a class="btn btn-outline-primary btn-sm" href="#">查看文章</a>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- Project Two -->
                    <div class="row">
                        <div class="col-md-7">
                            <a href="#">
                                <img class="img-fluid rounded mb-3 mb-md-0" src="./images/750x300.png" alt="">
                            </a>
                        </div>
                        <div class="col-md-5">
                            <h4>文章1</h4>
                            <p class="text-muted">文章描述</p>
                            <a class="btn btn-outline-primary btn-sm" href="#">查看文章</a>
                        </div>
                    </div>
                    <!-- /.row -->
                    <hr>
                    <!-- Pagination -->
                    <nav>
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div role="tabpanel" class="tab-pane" id="info">
                    <h4 class="my-4">用户信息</h4>
                    <div class="card">
                        <div class="row card-body">
                            <div class="col-md-8">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="base1">
                                        <div class="row">
                                            <div class="col-sm-3 mb-2">
                                                <img class="rounded-circle" width="150" height="150" src="../images/750x300.png">
                                            </div>
                                            <div class="col-sm-9 d-flex align-items-center">
                                                <button type="button" class="btn btn-outline-success">更换头像</button>
                                            </div>
                                        </div>
                                        <hr>
                                        <form>
                                            <div class="form-group row">
                                                <label for="staticEmail" class="col-sm-3 col-form-label">昵称</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="staticEmail" value="昵称">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-group row">
                                                <label for="inputPassword" class="col-sm-3 col-form-label">电子邮件</label>
                                                <div class="col-sm-9">
                                                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="base2">
                                        <form>
                                            <div class="form-group row">
                                                <label for="exampleFormControlTextarea1" class="col-sm-3 col-form-label">座右铭</label>
                                                <div class="col-sm-9">
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <ul class="nav nav-pills flex-column">
                                            <li role="presentation"><a class="nav-link active" href="#base1" aria-controls="base1" role="tab" data-toggle="tab">基本信息</a></li>
                                            <li role="presentation"><a class="nav-link" href="#base2" aria-controls="base2" role="tab" data-toggle="tab">基础设置</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-3 col-xl-3">
            <div class="card my-4">
                <div class="card-body read-day">
                    每日记录
                </div>
            </div>
            <!-- Side Widget -->
            <div class="card my-4">
                <div class="card-body">
                    <ul class="nav nav-pills flex-column">
                        <li role="presentation"><a class="nav-link active" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">我的收藏</a></li>
                        <li role="presentation"><a class="nav-link" href="#comment" aria-controls="comment" role="tab" data-toggle="tab">我的评论</a></li>
                        <li role="presentation"><a class="nav-link" href="#info" aria-controls="info" role="tab" data-toggle="tab">信息设置</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->